.avatarWithBorder{
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px; 
  border: 4px solid var(--gray-800);
  outline: 1px solid var(--green-500);
}
.avatarWithoutBorder{
  width: 3rem;
  height: 3rem;
  border-radius: 8px; 
}